html
  head
    link(rel='stylesheet' href='/static/metro.css')
    link(rel='stylesheet' href='/static/page.css')

  body
    mixin header(logo)
      div.header
        div.left
          h2 S. #{circular}/#{year}
        if logo
          div.middle
            img(src='/static/metro.png')
        div.right
          h2 S. #{circular}/#{year}
    page
      +header(true)
      div.contact
        span Operational Planning
        span Level 2, 595 Collins Street
        span Phone: 14688
      div.title
        h2 #{lore.title}
      div.lore
        p.lore #{lore.lore}
          if lore.nonRevenue
            span.bold  This train is NOT to delay any revenue services.
        p.bold Consist: #{lore.consist}
        p.bold Driver/Operations: ABC DEFG (0420 690 123)
      div.times
        table
          tbody
            for line in pages[0]
              tr(class=line.class)
                | !{line.html}
    for page in pages.slice(1)
      page
        +header(false)
        div.times
          table
            tbody
              for line in page
                tr(class=line.class)
                  | !{line.html}
