html
  head
    link(rel='stylesheet' href='/static/metro.css')
    link(rel='stylesheet' href='/static/page.css')
    title S#{year}-#{circular}
  body
    mixin header(logo)
      div(class=`header ${logo ? 'logo' : ''}`)
        div.left
          h2 S. #{circular}/#{year}
        if logo
          div.middle
            img(src='/static/metro.png')
        div.right
          h2 S. #{circular}/#{year}
    mixin ack()
      div.ack
        p Appropriate Operations Division Managers are to arrange for necessary staff to be on duty to facilitate these arrangements. All concerned to note and arrange.
        h4 Dan Andrews
        h4 Premier
    page
      +header(true)
      div.contact
        span Operational Planning
        span Level 2, 595 Collins Street
        span Phone: 14688
      div.title
        h2 #{lore.title}
      div.lore
        p.lore #{lore.lore}
          if lore.nonRevenue
            span.bold  This train is NOT to delay any revenue services.
        p.bold Consist: #{lore.consist}
        p.bold Driver/Operations: Raymond O’Flaherty (0420 690 123)
        h1 #{title}
        h2.date #{`${lore.date.format('dddd Do MMMM YYYY')}`.toUpperCase()}
      div.times
        table
          tbody
            for line in pages[0]
              tr(class=line.class)
                | !{line.html}
      if pages.length === 1 && pages[0].length < firstPageSize - 3
        +ack()
        
    if pages.length === 1 && pages[0].length >= firstPageSize - 3
      page
        +header(false)
        +ack()

    for page, i in pages.slice(1)
      page
        +header(false)
        div.times
          table
            tbody
              for line in page
                tr(class=line.class)
                  | !{line.html}

        if i === pages.length - 2 && page.length < nextPageSize - 3
          +ack()

    if pages.length > 1 && pages[pages.length - 1].length >= nextPageSize - 3
      page
        +header(false)
        +ack()
